

.titel {
  color: red;
  font-family:arial;
  font-size:16pt;
  text-align: center;
  font-weight: bold;
  padding: 50px;
}

.content {
  color: black;
  font-family: arial;
  font-size: 12pt;
  line-height: 1.5;
}
