

.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}

#indprod {
  height: 500px;
  flex-basis: 70%;
}

.textbox {
  flex-basis: 30%;
}

